# --- CONFIGURAÇÕES DO SERVIDOR ---
# PORT=8080
# HOST=0.0.0.0

TZ=America/Sao_Paulo
CLIENT_NAME=evolution

SERVER_PORT=8080
SERVER_URL=http://localhost:8080

# --- AUTENTICAÇÃO E SEGURANÇA ---
# API_KEY=
# JWT_SECRET=
GLOBAL_API_KEY=suachaveseguraAQUI

# --- SISTEMA DE EVENTOS
#EVENTS_DRIVER=local
#EVENTS_LOCAL_ENABLED=true
NATS_URL=nats://nats-server:4222
NATS_URI=nats://nats-server:4222

# --- CORREÇÃO DE DUPLICIDADE (Removido as duplicadas) ---
RABBITMQ_ENABLED=false
REDIS_ENABLED=false
REDIS_URI=redis://localhost:6379/0

# --- BANCO DE DADOS ---
DB_CONNECTION_TYPE=postgres
DATABASE_SAVE_MESSAGES=false
DATABASE_SAVE_CHATS=false

POSTGRES_AUTH_DB=postgresql://username:password@postgres:5432/database_name?sslmode=disable
POSTGRES_USERS_DB=postgresql://username:password@postgres:5432/database_name?sslmode=disable

# --- LOGS ---
WADEBUG=DEBUG
LOG_LEVEL=info
LOGTYPE=console
